{% import "macros/messagebox.twig" as messagebox %}

{{ messagebox.box(i18n.getMessage("absence_warning"), "", "warning") }}

<p><a href="{{ env.getInternalActionUrl("return-from-absence") }}" class="btn"><i class="icon-signin"></i> {{ i18n.getMessage("absence_return_button") }}</a></p>