{% if (env.getConfig("facebook_enable_comments") or env.getConfig("facebook_enable_likebutton"))
	and env.getConfig("facebook_appid")|length > 0 %}
{% if i18n.currentLanguage == 'de' %}
	{% set locale = 'de_DE' %}
{% else %}
	{% set locale = 'en_GB' %}
{% endif %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/{{ locale }}/all.js#xfbml=1&appId={{ env.getConfig("facebook_appid") }}";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endif %}