{% if env.getConfig("googleplus_enable_likebutton") %}
{% set url = env.getInternalUrl(null, "id=" ~ env.getRequestParameter("id"), TRUE) %}
<div data-href="{{ url }}" class="g-plusone" data-size="medium"></div>

<script type="text/javascript">
  
  (function() {
	  window.___gcfg = {lang: '{{ i18n.getCurrentLanguage() }}'};
	  
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
{% endif %}