<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE module SYSTEM "../module.dtd">
<module version="1.0.0">
    
    <blocks>

        <block
            id="projectstatistics"
            template="projectstatistics"
            includepages="none"
            model="ProjectStatisticsModel"
            area="custom"
            weight="0"
            role="user,guest" />
        
    </blocks>    
    
</module>