<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE module SYSTEM "../module.dtd">
<module version="1.0.0">

    <dependencies>
        <dependency module="leagues" version="1.0.0"/>
    </dependencies>
    
    <admin>
        <adminpage
            id="trainer"
            entity="trainer"
            navcategory="league"
            permissionrole="r_daten" >

            <entity dbtable="trainer" >

                <overview delete="true" edit="true" >

                    <column
                        id="entity_trainer_name"
                        field="name"
                        type="text"
                        sort="true"
                        filter="true" />
                    
                    <column
                        id="entity_trainer_salary"
                        field="salary"
                        type="number"
                        sort="true" />
                    
                    <column
                        id="entity_trainer_p_technique"
                        field="p_technique"
                        type="percent"
                        sort="true" />
                    
                    <column
                        id="entity_trainer_p_stamina"
                        field="p_stamina"
                        type="percent"
                        sort="true" />
                    
                    <column
                        id="entity_trainer_premiumfee"
                        field="premiumfee"
                        type="number"
                        sort="true" />
                    
                </overview>

                <editform>
                    
                    <field id="name" type="text" required="true" />
					<field id="salary" type="number" required="true" />
					<field id="p_technique" type="percent" required="true" />
					<field id="p_stamina" type="percent" required="true" />
					<field id="premiumfee" type="number" required="false" />
                </editform>
            </entity>
        </adminpage>
    </admin>
    
    <settings>
      <setting id="training_min_hours_between_execution" category="game" type="number" default="24" />
  </settings>
    
    <pages>
        <page
            id="training"
            template="training"
            model="TrainingModel"
            parentItem="office"
            navitem="true"
            navweight="4"
            role="user">
	        <page
	            id="trainer-details"
	            template="training-trainerdetails"
	            model="TrainerDetailsModel"
	            role="user" />
	        
	        <script file="bootstrap-slider.js" />
	        <css file="slider.css"/>
        </page>

    </pages> 
    
  <actions>
	<action id="choose-trainer" controller="ChooseTrainerController" role="user">
	    <param id="id" type="number" required="true" min="1" max="2000000000" />
		<param id="units" type="number" required="true" min="5" max="20" />
	</action>
	
	<action id="execute-training" controller="ExecuteTrainingController" role="user" log="true">
	    <param id="id" type="number" required="true" min="1" max="2000000000" />
		<param id="focus" type="text" required="true" min="2" max="3" />
		<param id="intensity" type="number" required="true" min="1" max="100" />
	</action>
	
  </actions>
    
</module>