<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE module SYSTEM "../module.dtd">
<module version="1.0.0">

    <dependencies>
        <dependency module="clubs" version="1.0.0"/>
    </dependencies>
    
    <settings>
		<setting id="nationalteams_enabled" category="game" type="boolean" default="1" />
	</settings>
    
    <pages>
        <page
            id="nationalteam"
            template="nationalteam"
            model="NationalPlayersModel"
            role="user"
            navitem="true"
            navweight="3"
            navitemOnlyForConfigEnabled="nationalteams_enabled">
            <page
	            id="nominate-national-players"
	            template="nominate_national_players"
	            model="FindNationalPlayersModel"
	            role="user"
	            navitem="true"
	            navweight="0"
	            navitemOnlyForConfigEnabled="nationalteams_enabled"/>
            
            <page
	            id="nationalmatches"
	            template="nationalmatches"
	            model="NationalTeamMatchesModel"
	            role="user"
	            navitem="true"
	            navweight="1"
	            navitemOnlyForConfigEnabled="nationalteams_enabled"/>
        </page>

    </pages> 
    
    <actions>
        <action id="add-national-player" controller="AddNationalPlayerController" role="user">
            <param type="number" id="id" required="true"/>
        </action>
        <action id="remove-national-player" controller="RemoveNationalPlayerController" role="user">
            <param type="number" id="id" required="true"/>
        </action>
    </actions>
    
    <blocks>

        <block
            id="national-match-results"
            template="results-list"
            model="NationalMatchResultsModel"
            includepages="custom"
            area="content_top"
            role="user" />
        
        <block
            id="national-next-matches"
            template="results-list"
            model="NationalNextMatchesModel"
            includepages="custom"
            area="content_top"
            role="user" />
        
        <block
            id="national-next-match"
            template="national_next_match"
            model="NationalNextMatchModel"
            includepages="office"
            area="content_bottom"
            weight="5"
            role="user" />
        
    </blocks>
    
</module>