{% extends "base.twig" %}

{% block page_title %}
{{ i18n.getMessage("activate-user_title") }}
{% endblock %}

{% block page_content %}
<p>{{ i18n.getMessage("activate-user_content") }}</p>
{% endblock %}