{% import "macros/formelements.twig" as formelements %}

{% extends "base.twig" %}

{% block page_title %}
{{ i18n.getMessage("forgot-password_title") }}
{% endblock %}

{% block page_content %}
<form class="form-horizontal" method="post">

	{{ formelements.textfield('useremail', i18n.getMessage('entity_users_email'), env.getRequestParameter('useremail'), true, validationMsg, 'email') }}
	
	{% if captchaCode is defined and captchaCode|length > 0 %}
	{{ captchaCode|raw }}
	{% endif %}
	
	<div class="form-actions">
		<button type="submit" class="btn btn-primary">{{ i18n.getMessage('forgot-password_submit_button') }}</button>
	</div>
	<input type="hidden" name="page" value="forgot-password"/>
	<input type="hidden" name="action" value="send-password"/>
</form>

{% endblock %}