{% extends "base.twig" %}
{% import "macros/formelements.twig" as formelements %}
{% import "macros/formelementsfriendly.twig" as formelementsfriendly %}

{% block page_title %}
{{ i18n.getMessage("friendly-match_navlabel") }}
{% endblock %}

{% block page_content %}
	
<p>{{ i18n.getMessage("friendly_version") }} &copy; Powered by <a href="mailto:{{ i18n.getMessage("friendly_mail") }}">{{ i18n.getMessage("friendly_author") }}</a></p>
{% endblock %}
