{% extends "base.twig" %}

{% block browser_title %}
{{ env.getConfig("projectname") }}
{% endblock %}

{% block page_header %}
<h1>{{ i18n.getMessage('offline_title') }}</h1>
{{ offline_message|raw  }}
{% endblock %}

{% block page_columns %}
&nbsp;
{% endblock %}
{% block navigation %}
&nbsp;
{% endblock %}

