{% extends "base.twig" %}

{% block page_title %}
{{ i18n.getMessage("registration_title") }}
{% endblock %}

{% block page_content %}
<p>{{ i18n.getMessage("register-success_nextstep") }}</p>
{% endblock %}