<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE module SYSTEM "../module.dtd">
<module version="1.0.0">
    
	<settings>
		<setting id="youth_enabled" category="youth" type="boolean" default="1" />
		<setting id="youth_scouting_enabled" category="youth" type="boolean" default="1" />
		<setting id="youth_matchrequests_enabled" category="youth" type="boolean" default="1" />
		<setting id="youth_min_age_professional" category="youth" type="number" default="16" />
		<setting id="youth_salary_per_strength" category="youth" type="number" default="50" />
		
		<setting id="youth_scouting_break_hours" category="youth" type="number" default="24" />
		<setting id="youth_scouting_success_probability" category="youth" type="number" default="75" />
		<setting id="youth_scouting_min_strength" category="youth" type="number" default="5" />
		<setting id="youth_scouting_max_strength" category="youth" type="number" default="70" />
		<setting id="youth_scouting_standard_deviation" category="youth" type="number" default="5" />
		<setting id="youth_scouting_min_age" category="youth" type="number" default="14" />
		
		<setting id="youth_professionalmove_matches" category="youth" type="number" default="30" />
		<setting id="youth_professionalmove_technique" category="youth" type="number" default="50" />
		<setting id="youth_professionalmove_stamina" category="youth" type="number" default="60" />
		<setting id="youth_professionalmove_freshness" category="youth" type="number" default="100" />
		<setting id="youth_professionalmove_satisfaction" category="youth" type="number" default="100" />
		
		<setting id="youth_matchrequest_max_open_requests" category="youth" type="number" default="2" />
		<setting id="youth_matchrequest_max_futuredays" category="youth" type="number" default="14" />
		<setting id="youth_matchrequest_allowedtimes" category="youth" type="tags" default="14:00,15:00" />
		<setting id="youth_matchrequest_accept_hours_in_advance" category="youth" type="number" default="2" />
		
		<setting id="youth_match_maxperday" category="youth" type="number" default="1" />
		
		<setting id="youth_strengthchange_verygood" category="youth" type="number" default="2" />
		<setting id="youth_strengthchange_good" category="youth" type="number" default="1" />
		<setting id="youth_strengthchange_bad" category="youth" type="number" default="-1" />
		<setting id="youth_strengthchange_verybad" category="youth" type="number" default="-2" />
	</settings>
	
    <admin>
        <adminpage
            id="youthplayer"
            entity="youthplayer"
            navcategory="league"
            permissionrole="r_daten" >

            <entity dbtable="youthplayer AS PlayerTab" >

                <overview delete="true" edit="true">

                    <column
                        id="entity_youthplayer_lastname"
                        field="PlayerTab.lastname"
                        type="text"
                        sort="true"
                        filter="true" />
                    
                    <column
                        id="entity_youthplayer_firstname"
                        field="PlayerTab.firstname"
                        type="text"
                        sort="true"
                        filter="true" />

                    <column
                        id="entity_youthplayer_team_id"
                        field="ClubTab.name"
                        type="text"
                        sort="true"
                        filter="true" />
                    
                    <column
                        id="entity_youthplayer_position"
                        field="PlayerTab.position"
                        type="text"
                        sort="true" />
                    
                     <column
                        id="entity_youthplayer_age"
                        field="PlayerTab.age"
                        type="number"
                        sort="true" />
                     
                     <column
                        id="entity_youthplayer_strength"
                        field="PlayerTab.strength"
                        type="number"
                        sort="true" />
                     
                	<join type="INNER" jointable="verein AS ClubTab" joincondition="PlayerTab.team_id = ClubTab.id" />
                </overview>

                <editform>
                    <field id="team_id" type="foreign_key" required="true" entity="club" jointable="verein" labelcolumns="name" />
                    <field id="firstname" type="text" required="true" />
					<field id="lastname" type="text" required="true" />
					<field id="age" type="number" required="true" />
					<field id="position" type="select" selection="Torwart,Abwehr,Mittelfeld,Sturm" required="true"  />
					<field id="nation" type="text" required="true"  />
					<field id="strength" type="percent" required="true" />
					<field id="strength_last_change" type="number" required="false" default="0" />
					
					<field id="st_matches" type="number" default="0" />
					<field id="st_goals" type="number" default="0" />
					<field id="st_assists" type="number" default="0" />
					<field id="st_cards_yellow" type="number" default="0" />
					<field id="st_cards_yellow_red" type="number" default="0" />
					<field id="st_cards_red" type="number" default="0" />
					
					<field id="transfer_fee" type="number" default="0" />
					
                </editform>
            </entity>
        </adminpage>
        
        <adminpage
            id="youthscout"
            entity="youthscout"
            navcategory="league"
            permissionrole="r_daten" >

            <entity dbtable="youthscout AS ScoutTab" >

                <overview delete="true" edit="true">

                    <column
                        id="entity_youthscout_name"
                        field="ScoutTab.name"
                        type="text"
                        sort="true"
                        filter="true" />
                    
                    <column
                        id="entity_youthscout_expertise"
                        field="ScoutTab.expertise"
                        type="percent"
                        sort="true" />
                    
                    <column
                        id="entity_youthscout_fee"
                        field="ScoutTab.fee"
                        type="number"
                        sort="true" />
                    
                    <column
                        id="entity_youthscout_speciality"
                        field="ScoutTab.speciality"
                        type="text"
                        sort="true" />
                    
                </overview>

                <editform>
                    <field id="name" type="text" required="true" />
					<field id="expertise" type="percent" required="true" />
					<field id="fee" type="number" required="true" />
					<field id="speciality" type="select" selection="Torwart,Abwehr,Mittelfeld,Sturm" required="false"  />
                </editform>
            </entity>
        </adminpage>
        
        <adminpage
            id="youthmatch"
            entity="youthmatch"
            navcategory="league"
            permissionrole="r_daten" >

            <entity dbtable="youthmatch AS MatchTab" >

                <overview delete="true" edit="true">

                    <column
                        id="entity_youthmatch_matchdate"
                        field="MatchTab.matchdate"
                        type="timestamp"
                        sort="true" />
                    
                    <column
                        id="entity_youthmatch_home_team_id"
                        field="HomeTab.name"
                        type="text"
                        sort="true"
                        filter="true" />
                    
                    <column
                        id="entity_youthmatch_guest_team_id"
                        field="GuestTab.name"
                        type="text"
                        sort="true"
                        filter="true" />
                    
                    <column
                        id="entity_youthmatch_simulated"
                        field="MatchTab.simulated"
                        type="boolean"
                        sort="true"
                        filter="true" />
                    
                    <join type="INNER" jointable="verein AS HomeTab" joincondition="HomeTab.id = MatchTab.home_team_id" />
                    <join type="INNER" jointable="verein AS GuestTab" joincondition="GuestTab.id = MatchTab.guest_team_id" />
                </overview>

                <editform>
                    <field id="matchdate" type="timestamp" required="true" />
					<field id="home_team_id" type="foreign_key" entity="club" jointable="verein" labelcolumns="name" />
					<field id="guest_team_id" type="foreign_key" entity="club" jointable="verein" labelcolumns="name" />
					<field id="simulated" type="boolean" required="false" />
					<field id="home_goals" type="number" required="false" />
					<field id="guest_goals" type="number" required="false" />
                </editform>
            </entity>
        </adminpage>
    </admin>
    
    <pages>
        <page
            id="youth-team"
            template="youth_team"
            model="MyYouthTeamModel"
            navitem="true"
            navweight="2"
            role="user"
            navitemOnlyForConfigEnabled="youth_enabled">
            
            <page
	            id="youthplayer-sell"
	            template="youth_sell"
	            navitem="false"
	            role="user"/>
            
            <page
	            id="youthplayer-fire"
	            template="youth_fire"
	            navitem="false"
	            role="user"/>
            
            <page
	            id="youthplayer-buy"
	            template="youth_buy"
	            navitem="false"
	            role="user"/>
            
            <page
	            id="youthplayer-makeprofessional"
	            template="youth_makeprofessional"
	            model="YouthPlayerDetailsModel"
	            navitem="false"
	            role="user"/>
            
	        <page
	            id="youth-scouting"
	            template="youth_scouting"
	            model="YouthScoutingModel"
	            navitem="true"
	            navweight="0"
	            role="user"
	            navitemOnlyForConfigEnabled="youth_scouting_enabled"/>
	        
	        <page
	            id="youth-matchrequests"
	            template="youth_matchrequests"
	            model="YouthMatchRequestsModel"
	            navitem="true"
	            navweight="2"
	            role="user"
	            navitemOnlyForConfigEnabled="youth_matchrequests_enabled">
                
            	<page id="youth-matchrequests-create"
            	    template="youth_matchrequests_create"
            	    model="YouthMatchRequestsCreateModel"
            	    role="user"/>    
	        </page>
	        
	        <page
	            id="youth-matches"
	            template="youth_matches"
	            model="YouthMatchesModel"
	            navitem="true"
	            navweight="3"
	            role="user">
            	
	            <page
		            id="youth-formation"
		            template="youth_formation"
		            model="YouthMatchFormationModel"
		            role="user">
					<script file="jquery-ui-1.10.2.custom.min.js" debugonly="true"/>
		            <script file="formationws4.js" debugonly="true"/>
		            <script file="formation.min.js" productiononly="true"/>
		            
		            <script file="bootstrap-slider.js" />
		            <script file="bootstrap-switch.js" />
		            
		            <css file="slider.css"/>
		        	<css file="formation.css"/>
		        	<css file="bootstrap-switch.css"/>
	            </page>
	            
	            <page
		            id="youth-match"
		            template="youth_match"
		            model="YouthMatchReportModel"
		            role="user,guest"/>
            	
	        </page>
	        
	        <page
	            id="youth-marketplace"
	            template="youth_marketplace"
	            model="YouthMarketplaceModel"
	            navitem="true"
	            navweight="4"
	            role="user"/>
	  		
         </page>

    </pages> 
    
    <blocks>

        <block
            id="youth-playerdetails"
            template="youth_playerdetails"
            model="YouthPlayerDetailsModel"
            includepages="youthplayer-sell,youthplayer-fire,youthplayer-buy,youthplayer-makeprofessional"
            area="content_top"
            weight="0"
            role="user" />
        
        <block
            id="youthplayers_of_team"
            template="youth_players_of_team"
            model="YouthPlayersOfTeamModel"
            includepages="none"
            area="custom"
            weight="0"
            role="user,guest" />
        
    </blocks>
    
	<actions>
		<action id="sell-youthplayer" controller="SellYouthPlayerController" role="user" log="true">
			<param id="transfer_fee" type="number" required="true" min="1" max="1000000000" />
			<param id="id" type="number" required="true" />
		</action>
		
		<action id="remove-youthplayer-from-market" controller="RemoveYouthPlayerFromMarketController" role="user">
			<param id="id" type="number" required="true" />
		</action>
		
		<action id="fire-youthplayer" controller="FireYouthPlayerController" role="user">
			<param id="id" type="number" required="true" />
		</action>
		
		<action id="buy-youthplayer" controller="BuyYouthPlayerController" role="user">
			<param id="id" type="number" required="true" />
		</action>
		
		<action id="move-youthplayer-to-professional" controller="MoveYouthPlayerToProfessionalController" role="user">
			<param id="id" type="number" required="true" />
			<param id="mainposition" type="text" required="true" />
		</action>
		
		<action id="scout-youthplayer" controller="ScoutYouthPlayerController" role="user">
			<param id="scoutid" type="number" required="true" />
			<param id="country" type="text" required="true" />
		</action>
		
		<action id="create-youthmatch-request" controller="CreateYouthMatchRequestController" role="user" log="true">
			<param id="matchdate" type="number" required="true" />
			<param id="reward" type="number" required="false" min="1" />
		</action>
		
		<action id="cancel-youth-match-request" controller="CancelYouthMatchRequestController" role="user">
			<param id="id" type="number" required="true" />
		</action>
		
		<action id="accept-youth-match-request" controller="AcceptYouthMatchRequestController" role="user">
			<param id="id" type="number" required="true" />
		</action>
		
		<action id="save-youth-formation" controller="SaveYouthFormationController" role="user">
			<param id="matchid" type="number" required="true" />
			<param id="setup" type="text" required="true" />
			
			<param id="player1" type="number" required="true" />
			<param id="player2" type="number" required="true" />
			<param id="player3" type="number" required="true" />
			<param id="player4" type="number" required="true" />
			<param id="player5" type="number" required="true" />
			<param id="player6" type="number" required="true" />
			<param id="player7" type="number" required="true" />
			<param id="player8" type="number" required="true" />
			<param id="player9" type="number" required="true" />
			<param id="player10" type="number" required="true" />
			<param id="player11" type="number" required="true" />
			<param id="bench1" type="number" />
			<param id="bench2" type="number" />
			<param id="bench3" type="number" />
			<param id="bench4" type="number" />
			<param id="bench5" type="number" />
			
			<param id="sub1_out" type="number" />
			<param id="sub1_in" type="number" />
			<param id="sub1_minute" type="number" />
			<param id="sub1_condition" type="text" />
			
			<param id="sub2_out" type="number" />
			<param id="sub2_in" type="number" />
			<param id="sub2_minute" type="number" />
			<param id="sub2_condition" type="text" />
			
			<param id="sub3_out" type="number" />
			<param id="sub3_in" type="number" />
			<param id="sub3_minute" type="number" />
			<param id="sub3_condition" type="text" />
		</action>
		
	</actions>
    
</module>