<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE module SYSTEM "../module.dtd">
<module version="1.0.0">
    
    <pages>
        <page
	            id="halloffame"
	            template="halloffame"
	            model="HallOfFameModel"
	            parentItem="leagues"
	            navitem="true"
	            navweight="10"
	            role="user,guest"/>	     

    </pages> 
    
</module>